*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
:root{
   --border-color:#5E5E5E;
   --botaoResultado-color:rgba(60, 60, 223, 0.544);
   --botoesHover-color:#9E9E9E;
   --botoesNumeros-color:#EBEBEB;
   --botoesOperacao-color:#b3b3b3;
   --calculadora-color:#962779;
   --titulo-color:#EBEBEB;

}
body{
   align-items: center;
   display: flex;
   font-family: Arial, Helvetica, sans-serif;
   height: 100vh;
   justify-content: center;
   padding: 4em;
}
.calculadora{
   background-color: var(--calculadora-color);
   display: flex;
   flex-direction: column;
   padding: .8em;
   width: 400px;
}
.calculadora__titulo{
  color:var(--titulo-color);
}
.calculadora__resultado{
   font-size: 2.5em;
   min-height: 1.6em;
   text-align: right;
   overflow-wrap: break-word;
}
.calculadora__teclas{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 4px;
}
.calculadora__numeros{
   background-color: var(--botoesNumeros-color);
}
.calculadora__operacao{
   background-color: var(--botoesOperacao-color);
}
.botoes{
   border: none;
   cursor: pointer;
   font-size: 1.2em;
   font-weight: 600;
   height: 5em;
}
.botoes:hover{
   background-color: var(--botoesHover-color);
   border:1px solid var(--border-color);
}
.calculadora__operacao--duplo{
   grid-column: span 2;
}
.botoes--duplo{
   background-color: var(--botaoResultado-color);
   grid-column: span 2;
}
